@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@import 'vars';
@import 'mixin';
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
   
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: auto;

}

.header {

    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    &__left {
        display: flex;
        align-items: center;
        
    }
    &__right {
        @extend .header__left
    }
    &__cart {
        margin-right: 26px;
        
    }
}    
.logo {
    width: 165px;
    background: url("img/logo.png") no-repeat;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    padding-left: 72px;
    line-height: 51px;
    margin-right: 20px;
    &__span {
        color: $color-select;
        font-weight: 700;
        
    }
}

.search {
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    height: 40px;
    font-weight: 300;
    &.searchBrowse i {
        color: #838383;
    }
    
}

.search button i {
    color: #a4a4a4;
    width: 20px;
}
.searchBrowse {
    background-color: #f8f8f8;
    padding: 14px;
    border-right: 1px solid #e6e6e6;
    font-size: 14px;
    line-height: 23px;
    color: #222222;
    font-weight: 400;
    text-align: center;
}
.search input {
    height: inherit;
    border: none;
    outline: none;
    padding: 14px 16px;
    
}
.search button {
    height: inherit;
    border: none;
    border-left: 1px solid #e6e6e6;
    background: none;
    padding: 12px;
    
}
.button {
    padding: 13px 19px;
    background: $color-select;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    border: none;
}

.nav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        padding: 20px;
        display: block;
    }    
}
.blackman {
    background-color: #e8e8e8;
}
.slide {
    height: 614px;
    display: flex;
    align-items: flex-start;
    background-image: url(img/blackman.png);
    background-repeat: no-repeat;
    background-position: center -51px; 
    &__img {
        padding-left: 50px;
    }
    &__text {
        color: #222222;
        text-transform: uppercase;
        margin-top: 221px;
        border-left: 12px solid #f16d7f;
        padding-left: 12px;
    }
    &__h1 {
        font-size: 65px;
        font-weight: 900;
        line-height: 60px;
        color: #222222;
        letter-spacing: 0.03em;
    }
    &__h2 {
        font-size: 45px;
        font-weight: 900;
        line-height: 40px;
        color: #222222;
        letter-spacing: 0.03em;
        
    }
    &__span {
        color:$color-select
    }
}
@media (max-width: 575.98px) {
    .offers {
        flex-direction: column;
        justify-content: center;
    
    }
}
.offers {
	display: flex;
    justify-content: space-between;
    padding-top: 98px;
    &_left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__item {
        position: relative;
    }
    &__lable {
        position: absolute;
        top: 25px;
        padding: 16px 19px;
        background-color: #ffffff;
        text-transform: uppercase;
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.45px;
    }
}
.lable__down {
    color: $color-select;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.fetured {
    margin-top: 100px;
    text-align: center;
    &__items {
        color: #222222;
        font-size: 30px;
        font-weight: 700;
    }
    &__text { 
        color: #9f9f9f;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        margin-top: 16px;
        
    }
   
}


.galery {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between; 
    margin-bottom: 50px;
    &__product {
        margin-top: 33px;
        position: relative;
        &:hover .product__img {
            filter: brightness(50%);
        }
        &:hover .product__add {
            visibility: visible;
        }
        &:hover {
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
        }
    }
    &__info {
        padding-top: 21px;
        padding-left: 10px;
    }
    &__mango {
        color: #222222;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 17px;
        text-transform: uppercase;
    }
    &__price {
        color: $color-select;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;  
    }
}

.product__img {
    width: 260px;
    height: 280px;
    object-fit: cover;
    object-position: center center;
}

.product__add {
  width: 123px;
  height: 39px;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
  position: absolute;
  top: 98px;
  left: 70px;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    box-shadow: 0 0 5px #ffffff;
    }
    
}

.allBrowse {
    display: flex;
    justify-content: center;
    align-items: center;
}
.women {
    display: flex;
    min-height: 576px;
    margin-top: 40px;
    &__left {
        background-image: url(img/Layer%2038@1X.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-shrink: 0;
        min-height: 576px;
    }
    &__right {
        display: flex;
        flex-direction: column;
        background-color: #222224;
        height: 576px;
    }
    &__banner {
            height: 78px;
            color: #ffffff;
            letter-spacing: 1.5px;
            text-transform: uppercase; 
            margin-top: 146px;
            margin-left: 39px;
    }
        
    
}

h2 {
    margin: 0;
}
.banner__offer {
    font-size: 54px;
    font-weight: 700;
    }
.banner__for {
    font-size: 32px;
    letter-spacing: 0.9px;
}
.banner__span {
    color: $color-select;
}
.freeDelivery {
    padding: 30px 10px 10px 110px;
    flex-grow: 1;
    color: #fbfbfb;
    &:first-child {
        background: url(img/Forma_1.svg) no-repeat 36px 30px;
        
    }
    &:nth-child(2n) {
        background: url(img/Forma_2.svg) no-repeat 36px 30px;
    }
    &:last-child {
        background: url(img/Forma_3.svg) no-repeat 36px 30px;
    }
    
}
.freeD {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.03em;
}
.worldWide {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 24px;
}

.subscribeBlock {
    background: url(img/Layer_41.jpg) no-repeat center bottom, #ccc;
    height: 438px;
    margin-top: 100px;
    background-blend-mode: overlay;
    background-size: cover;
    padding-bottom: 20px;
    
}
.subscribe {
    height: 438px;
    display: flex;
    justify-content: space-between;
    &__left {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        padding-top: 112px;
        padding-bottom: 142px;
        border-right: 2px solid white;
        
    }
    &__right {
        width: 50%;
    }
       
}
.subscribePhoto {
    width: 83px;
    height: 83px;
    opacity: 100%;
    border-radius: 100%;
    
}
.subscribeText {
    width: 386px;
    height: 68px;
    color: #222224;
    letter-spacing: 0.4px;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 9px;
    
    
}
    
.subscribeReview {
    font-style: italic;
    font-weight: 500;
    width: 100%;
    margin-bottom: 50px;
}
.subscribeName {
    color: $color-select;
    font-weight: 700;
    margin-top: 19px;
    
}
.subscribeCity {
    @include font (12px, 300);
    letter-spacing: 0.3px;
    margin-top: 5px;
}

.subscribeRight {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       
}
.subscText {
    text-align: center;
    color: $color-checkout;
    text-transform: uppercase;
    
   
}
.subs1 {
    font-size: 24px;
    letter-spacing: 0.6px;
}
.subs2 {
    @include font (14px, 400);
     letter-spacing: 0.35px;
     margin: 0;
} 
.subscText {
    color: $color-checkout;
    @include font (14px, 400);
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
    
}
.search2 {
    padding-bottom: 48px;

}
.subscribeInput {
    height: 40px;
    background-color: #e1e1e1;
    border-radius: 23px 0 0 23px;
    float: left;
    padding-left: 15px;
    &:focus {
        outline: none;
    }
}

.subscribeBtn {
    height: 40px;
    border-radius: 0 23px 23px 0;
    background-color: $color-select;
    &:focus {
        outline: none;
    }
}



.company {
    height: 458px;
    margin-top: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menuBlocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: wrap;
}
.objectivelyText {
    margin-top: 29px;
    height: 180px;
    width: 427px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}
.heading {
    
    height: 14px;
    color: $color-select;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.companyColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.columnMenu a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 42px;
    text-decoration: none;
      
}
.columnMenu {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footerNoborder {
    height: 79px;
    background-color: #e6e6e6;
   
    
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    align-items: center;
}
.icon {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background: #f7f7f8;
    margin-right: 8px;
    &:hover {
        background:  #f16d7f;
        color: #f7f7f8;
        
    }
}

.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 575.98px) {
    .header__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon {
        height: 82px;
        width: 82px;
        line-height: 82px;
       

    }
}
