@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: auto;

}

.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: wrap;
}
.leftHeader {
    display: flex;
    align-items: center;
}

.rightHeader {
    display: flex;
    align-items: center;
}

.logo {
    width: 165px;
    background: url("img/logo.png") no-repeat;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    padding-left: 72px;
    line-height: 51px;
    margin-right: 20px;
}
.logo span {
    color: #f16d7f;
    font-weight: 700;
    
}
.search {
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    height: 40px;
    font-weight: 300;
    
}
.search .searchBrowse i {
    color: #838383;
}
.search button i {
    color: #a4a4a4;
    width: 20px;
}
.searchBrowse {
    
    background-color: #f8f8f8;
    padding: 14px;
    border-right: 1px solid #e6e6e6;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    font-weight: 400;
    text-align: center;
}
.search input {
    height: inherit;
    border: none;
    outline: none;
    padding: 14px 16px;
    
}
.search button {
    height: inherit;
    border: none;
    border-left: 1px solid #e6e6e6;
    background: none;
    padding: 12px;
    
}
.accountBtn {
    padding: 13px 19px;
    background: #f16d7f;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    border: none;
}
.headerCart {
    margin-right: 26px;
    
}
.headerLine {
    
    border: 1px solid #ececec;
}
.topNav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.topNav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}
.topNav a:after {
   display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 3px; 
	background-color: #ef5b70; 
    content: "";
}
.topNav a:hover:after {
    width: 100%;
}
.topNav a:not(:last-child) { 
    margin-right: 45px;
}
.backArrivals {
    background-color: #f8f3f4;
   
}
.newArrivals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    height: 148px;
    

}
.newArrivals h1 {
    color: #f16d7f;
}
.rightBread a {
    text-decoration: none;
    color: #636363;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.rightBread a:hover {
    color: #f16d7f;
}
.back {
     background-color: #F7F7F7;
}

.carouselPhoto {
    height: 724px;
    
}
.womenCollection {
    height: 730px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: -53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.womColl {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
}
.lineWomColl {
    border-bottom: 1px solid #EAEAEA;
    width: 148px;
    margin-bottom: 20px;
}
.moschino {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}
.moschinoText {
    text-align: center;
    height: 60px;
    width: 60%;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    
   
}
.twoHs {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.materialBlock {
    margin-right: 44px;
}
.matDisBlock {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
}
.matDisBlock span {
    color: #2f2f2f;
}
.priceBlock {
    margin-top: 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ef5b70;
}
.lineUnderPrice {
    margin-top: 10px;
    width: 50%;
    border: 1px solid #ef5b70;
}
.choose {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.chooseSth:not(:last-child) {
    margin-right: 49px;
}
.chooseSth select {
    width: 144px;
    padding: 10px;
    
}
.chooseThing {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
}

.addToCart {
    margin-top: 28px;
    padding: 23px 206px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    font-size: 16px;
    font-weight: 700;
}
.youMay h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    }
.bgPhoto {
    background-color: #e9e9e9;
    height: 280px;
    
}
.prodimage {
    height: inherit;
    padding: 0 61px;
    object-fit: cover;
    object-position: center center;
    
}

.bgPhoto:hover {
   
    outline: 1px solid;
}
.descriptionYou {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    padding: 18px 9px;
}
.price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    padding-left: 9px;
}

.offerYouMay:hover {
     box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.offerYouMay a {
    text-decoration: none;
}
.youMayGalary {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
#exProdimag {
    padding: 0;
     object-fit: cover;
    object-position: center;
    height: inherit;
}
.subscribeBlock {
    background: url(img/Layer_41.jpg) no-repeat center bottom, #ccc;
    height: 438px;
    margin-top: 100px;
    background-blend-mode: overlay;
    background-size: cover;
    padding-bottom: 20px;
    
}
.container2 {
    height: 438px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    
}
.subscribeLeft {
    display: flex;
    justify-content: center;
    padding-top: 112px;
    margin-bottom: 142px;
    
}
.subscribePhoto {
    width: 83px;
    height: 83px;
    opacity: 100%;
    border-radius: 100%;
    
}
.subscribeText {
    width: 386px;
    height: 68px;
    color: #222224;
    letter-spacing: 0.4px;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 9px;
    
    
}
    
.subscribeReview {
    font-style: italic;
    font-weight: 500;
    width: 100%;
    margin-bottom: 50px;
}
.subscribeName {
    color: #f16d7f;
    font-weight: 700;
    margin-top: 19px;
    
}
.subscribeCity {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-top: 5px;
}
.subscribeCentre {
    height: inherit;
    border: 1px solid #ffffff;
}
.subscribeRight {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.subscText {
    text-align: center;
    color: #222224;
    text-transform: uppercase;
   
}
.subs1 {
    font-size: 24px;
    letter-spacing: 0.6px;
}
.subs2 {
    font-size: 14px;
    font-weight: 400;
     letter-spacing: 0.35px;
     margin: 0;
} 
.subscText {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
}
.subscribeInput {
    height: 40px;
    background-color: #e1e1e1;
    border-radius: 23px 0 0 23px;
    float: left;
    padding-left: 15px;
}
.subscribeInput:focus {
    outline: none;
}
.subscribeBtn {
    
    height: 40px;
    
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    }
.subscribeBtn:focus {
    outline: none;
}
.company {
    height: 458px;
    margin-top: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}
.menuBlocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: wrap;
}
.objectivelyText {
    margin-top: 29px;
    height: 180px;
    width: 427px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}
.heading {
    
    height: 14px;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.companyColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.columnMenu a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 42px;
    text-decoration: none;
      
}
.columnMenu {
    margin-top: 45px;
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footerNoborder {
    height: 79px;
    background-color: #e6e6e6;
   
    
}
.footer {
     display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.icon {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background: #f7f7f8;
    margin-right: 8px;
}
.icon:hover {
    background:  #f16d7f;
    color: #f7f7f8;
    
}
.socialIcons {
    display: flex;
    flex-direction: row;
}
@media (max-width: 575.98px) {
    .leftHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .topNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
}
        .newArrivals {
        display: flex;
        flex-direction: column;
         justify-content: center;
    }
    .choose, 
    .twoHs {
         display: flex;
        flex-direction: column;
         justify-content: center;  
    }
    .container2 {
        display: flex;
        flex-direction: column;
    }
    .youMayGalary {
        flex-direction: column;
    }
}