@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: auto;

}
.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    width: 165px;
    background: url("img/logo.png") no-repeat;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    padding-left: 72px;
    line-height: 51px;
}
.logo span {
    color: #f16d7f;
    font-weight: 700;

}
.search {
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    height: 40px;
    font-weight: 300;

}
.search .searchBrowse i {
    color: #838383;
}
.search button i {
    color: #a4a4a4;
}
.searchBrowse {

    background-color: #f8f8f8;
    padding: 14px;
    border-right: 1px solid #e6e6e6;
    font-size: 14px;
    line-height: 40px;
    color: #222222;
    font-weight: 400;
}
.search input {
    height: inherit;
    border: none;
    outline: none;
    padding: 14px 16px;

}
.search button {
    height: inherit;
    border: none;
    border-left: 1px solid #e6e6e6;
    background: none;
    padding: 12px;

}
.accountBtn {
    padding: 13px 19px;
    background: #f16d7f;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    border: none;
}
.headerCart {
    margin-right: 26px;
    margin-left: auto;
}
.headerLine {

    border: 1px solid #ececec;
}
.topNav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topNav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}
.topNav a:not(:last-child) {
    margin-right: 45px;
}
.topNav a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ef5b70;
    content: "";
}
.topNav a:hover:after {
    width: 100%;
}
.backArrivals {
    background-color: #f8f3f4;
}
.newArrivals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    height: 148px;


}
.newArrivals h1 {
    color: #f16d7f;
}
.rightBread a {
    text-decoration: none;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.rightBread a:not(:last-child) {
    color:  #636363;
}
.shoppingMenu {
    margin-top: 90px;
}
.shoppingCartRow {
    display: flex;

}
.shoppingCatrFirst {
    width: 350px;
}
.shoppingCartHead {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.shoppingCartRow h2:not(:last-child) {
    padding-right: 60px;
}
.line {
    border: 1px solid #ececec;
    margin-bottom: 14px;
    margin-top: 14px;

}
.product {
    display: flex;
    width: 350px;

}
.product img {
    width: 100px;
    height: 115px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}
.productDetails {
}
.product h2 {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.tabElement:not(:last-child){
    padding-right: 43px;

}
.tabElement {
    padding-left: 70px;
    margin-left: 9px;
}
.productQuantity input {
    width: 54px;
    height: 30px;
    text-align: center;
}
.btns button {
    height: 50px;
    width: 225px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

}
.btns {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.blockAdress {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

}
button {
    text-transform: uppercase;
}
.inputs {
    display: flex;
    justify-content: space-between;
}
.getQuote {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 23px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
}
.applyCoupon {
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
}
.proceedCheckout {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.blockAdress input {
    padding: 16px 168px 16px 18px;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    margin-top: 24px;
}
.blockAdress select {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    padding: 13px 240px 16px 18px;
    color: #b1b1b1;

}
.rightBlockAdress {
    height: 214px;
    padding: 40px 43px 42px 44px;
    background-color: #f5f3f3;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 25px;

}
.subTotal {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
}
.grandT {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}
.grandTotal {
    color: #f16d7f;
}
.lineInBlock {
    border: 1px solid #e2e2e2;
    margin-bottom: 17px;
    width: 275px;


}
.subscribeBlock {
    background: url(img/Layer_41.jpg) no-repeat center bottom, #ccc;
    height: 438px;
    margin-top: 100px;
    background-blend-mode: overlay;
    background-size: cover;

}
.container2 {
    display: flex;
}
.subscribeLeft {
    display: flex;
    padding-top: 123px;

}
.subscribePhoto {
    width: 83px;
    height: 83px;
    opacity: 100%;
    border-radius: 100%;

}
.subscribeText {
    width: 386px;
    height: 68px;
    color: #222224;
    letter-spacing: 0.4px;
    font-size: 16px;
    margin-left: 28px;
    margin-right: 48px;

}

.subscribeReview {
    font-style: italic;
    font-weight: 500;
}
.subscribeName {
    color: #f16d7f;
    font-weight: 700;
    margin-top: 19px;

}
.subscribeCity {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-top: 5px;
}
.subscribeCentre {
    height: 438px;
    border: 1px solid #ffffff;
}
.subscribeRight {
    margin-top: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.subscText {
    text-align: center;
    color: #222224;
    text-transform: uppercase;

}
.subs1 {
    font-size: 24px;
    letter-spacing: 0.6px;
}
.subs2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin: 0;
}
.subscText {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
}
.subscribeInput {
    width: 334px;
    height: 40px;
    background-color: #e1e1e1;
    border-radius: 23px 0 0 23px;
    float: left;
}
.subscribeInput:focus {
    outline: none;
}
.subscribeBtn {
    width: 104px;
    height: 46px;

    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
}
.subscribeBtn:focus {
    outline: none;
}
.company {
    height: 458px;
    margin-top: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.objectivelyText {
    margin-top: 29px;
    height: 180px;
    width: 427px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}
.heading {

    height: 14px;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.companyColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.columnMenu a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 42px;
    text-decoration: none;

}
.columnMenu {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footerNoborder {
    height: 79px;
    background-color: #e6e6e6;


}
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.icon {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background: #f7f7f8;
    margin-right: 8px;
}
.icon:hover {
    background:  #f16d7f;
    color: #f7f7f8;

}
.socialIcons {
    display: flex;
    flex-direction: row;
}